---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

// font-family: 'droid sans mono';

// Our variables
$code-font-family: "Inconsolata", Monospace;
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$base-font-size:   1.2rem;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$post-margin-top:  12%;
$date-align:       right;
$date-margin-top:  100px;

.ornament-separator {
	text-align: center;
	> svg {

        display: inline-block;
        max-width: 30%;
        vertical-align: middle;

        path {
            fill: $grey-color-light;
        }
    }
}

.social-media-area {
  display: inline-block;
}
.social-media-list {
}

.social-media-list li {
	display: inline-block;

}

.site-footer {
	text-align: center;
}

.copyright-notice {
	font-size: $small-font-size*0.8;
	color: lighten($grey-color, 30%);
}

.page-post-header .site-title {
    @extend .site-title;
    &:visited {
        color: $grey-color-light !important;
    }
    &:hover {
        color: $grey-color-dark !important;
    }
}

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.work-list {
  @extend .post-list;

  .work-link {
    font-size: 24px; // TOFIX: should be a variable, or extend
    display: inline-block;
  }

  .work-meta {
    @extend .post-meta;
  }
  .work-link-desc {
    font-size: 0.4rem;
  }

  h2 {
    margin-bottom: 0;
  }
}

.contact-wrapper {
  margin-top: 5%;
}

.home-header {
  margin-top: $post-margin-top;
  text-align: center;

  h1 {
    color: #666;
    font-weight: bold;
    text-shadow:
    0px -1px 0px rgb(0, 0, 0),
    0px 1px 0px rgb(232, 232, 232);
    font-size: 4em;

    a {
      color: #666;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.personal-description {
  font-size: 1em;
}

.social-media-list li {
  margin-right: 4px;
  a {
    color: #999;
  }
  a:hover {
    color: #888;
  }
}

.icon--mail {
  margin-right: 4px;
}

.social-media-list li:last-child {
  margin-right: 0;
}

.post-discussion {
  font-size: 0.9rem;
  font-family: Monospace;
  text-align: right;
}

.home {
  ul {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    border-left: 1px solid rgba(128, 128, 128, 0.12);
  }
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

pre, code {
  background-color: none;
}
